
@font-face {font-family: sans-serif; font-weight: normal; font-style: normal; src: url(res:///ebook/fonts/../../mnt/sdcard/fonts/bkai08mu.ttf);}
@font-face {font-family: sans-serif; font-weight: normal; font-style: italic; src: url(res:///ebook/fonts/../../mnt/sdcard/fonts/bkai08mu.ttf);}
@font-face {font-family: sans-serif; font-weight: bold; font-style: normal; src: url(res:///ebook/fonts/../../mnt/sdcard/fonts/bkai08mu.ttf);}
@font-face {font-family: sans-serif; font-weight: bold; font-style: italic; src: url(res:///ebook/fonts/../../mnt/sdcard/fonts/bkai08mu.ttf);}
body, div, p, span, h1, h2, h3, h4, h5 { font-family: sans-serif; line-height: 150%; }
.calibre, .calibre1, .calibre2, .calibre3, .calibre4, .calibre5, .calibre6 { font-family: sans-serif; line-height:150%; }

#logo {
	display: inline;
	border: 0;
	height: 32px;
	width: 160px;
	margin: 0 0 2em 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 1em;
	font-family: georgia, times new roman, times roman, times, roman, serif;
}

#epub-title {
	padding-top: 50px;
}

#epub-title div {
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 2px solid #d5eeab;
}

#epub-title img {
	border:0;
	height: 32px;
	width: 160px;
}

h2, h3, h4, h5, h6 {
	margin: 1.5em 0 1em 0;
	padding: 0;
	font-weight: bold;
	font-size: 1em;
	font-family: georgia, times new roman, times roman, times, roman, serif;
}

div, p.img {
	margin: 1em 0;
	text-align: justify; 
	text-indent: 0;
}

p {
	margin: 0;
	text-align: justify; 
	text-indent: 2em;
}
span.filler {
	padding-right: 2em;
}

/*p:first-child*/ p.first-child {
	text-indent: 0;
}

/*
p.first-child:first-line {
	font-variant: small-caps;
}
*/

/*********************************/

#epub-title h2,#epub-title h3,#disclaimer h1 {
	margin: 0;
	padding: 0;
}

#epub-title h1 {
	margin: 0 0 1em 0;
}

h1 {
	font-weight: bold;
	font-size: 1.2em;
}

#epub-title h2, #epub-title h3 {
	font-weight: normal;
	font-size: 1.1em;
}
#disclaimer h2 {
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;
}
#epub-title div, #epub-title h1, #epub-title h2, #epub-title h3 {
	text-align: center;
	padding: 0 0.5em;
}
#epub-title div {
	margin-top: 1em;
}

#disclaimer {
	margin-top: 2em;
}
#disclaimer p, #disclaimer .url {
	text-indent: 0;
	margin: 0.5em 0;
	padding: 0;
}

.cmd{
  border: 1px inset ; margin: 0px; overflow: auto; text-align: left;
  font-family: georgia, times new roman, times roman, times, roman, serif;
}


pre {
  width:550px; 
  white-space: pre-wrap;
  font-size:85%
  text-align: left;
  font-family: georgia, times new roman, times roman, times, roman, serif;
}

/* no sembla que funcioni... */
div.dotEPUBfn {
	border-top: 1px solid black;
	margin-top: 0.5em;
	padding-top: 0.5em;
}
div.dotEPUBfn li p {
	text-indent: 0;
	margin: 0 0 0.5em 0;
	padding: 0;
}

/* Si no s'ha eliminat (per error) #dotepub, l'ocultem */
#dotepub #status, .dotEPUBremove {
	display: none ! important;
}

/* Kindle disponible #toc a toc; no utilitzat */
