.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre1 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    padding-top: 0;
    text-align: left
    }
.calibre2 {
    display: block;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-align: justify;
    text-indent: 1em
    }
.calibre3 {
    font-weight: bold
    }
.calibre4 {
    font-style: italic
    }
.calibre5 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    max-width: 100%;
    text-indent: 0
    }
.calibre6 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: top
    }
.calibre7 {
    display: block
    }
.calibre8 {
    height: auto;
    margin-bottom: 5px;
    max-width: 100%;
    width: auto
    }
.calibre9 {
    display: inline-block;
    height: auto;
    max-width: 100%;
    width: auto
    }
.imgBig {
    display: block;
    text-align: center;
    text-indent: 0;
    width: 100%
    }
.row {
    display: table-row;
    vertical-align: middle
    }
