@namespace h "http://www.w3.org/1999/xhtml";
@font-face {
  font-family: "DroidSans", serif, sans-serif;
  src: url(res:///ebook/fonts/DroidSansFallback.ttf)
}
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre1 {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.83em;
    padding-top: 0;
    text-align: left
    }
.calibre2 {
    display: block;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3em;
    text-align: justify;
    text-indent: 1em
    }
.calibre3 {
    font-weight: bolder
    }
.calibre4 {
    display: block
    }
.calibre5 {
    height: auto;
    margin-bottom: 5px;
    max-width: 100%;
    width: auto
    }
.imgBig {
    display: block;
    text-align: center;
    text-indent: 0;
    width: 100%
    }

pre {
  width:550px;
  white-space: pre-wrap;
  font-size:85%
  text-align: left;
  font-family: georgia, times new roman, times roman, times, roman, serif;
}

